.sidebar {
    .nav-item{
        padding: 5px 0;

        &:first-child{
            padding: 0;
            margin-bottom: 15px;
        }
    }
    .nav-link
    {
        color: $darkTextColor;
        font-size: 15px;

        &:hover
        {
            color: $primaryTextColor;
           
        }
      
        i {
            margin-left: -15px;
            margin-right: 10px;
           
        }
    }
}
