$darkTextColor := #585858;
$primaryTextColor := #1e56a0;
$placeholderColor := #b3b3b3;

$primaryColor := #589be3
$primaryColorHov :=  #3d84d0

$infoColor := #654ca3
$infoColorHov := #654ca3

$headerHeight := 80px;
$mobileHeaderHeight := $headerHeight - 20px;

$paddingControl := 10px;
